.body{margin:0px;0px;background-color: black;}
.top{width: 100%;height:300px;background-color: black;}

.top1{width: 1000px;height: 300px;margin: auto;}
.top2{width: 200px;height: 300px;float: left;}
.top3{width: 300px;height: 300px;float: left;}
.top4{width: 500px;height: 300px;float: right;}
.img{width: 150px;height: 150px;margin-top: 30px;}
.p1{color: green;font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";font-size: 40px;margin-top: 70px;margin-left: 10px; }
.btn{width: 95px;height: 40px;color: green;border: none;background-color: black;cursor: pointer}
.img2{width:350px;height: 200px;margin-left: 70px;margin-top: 20px;}
.part2{width:100%;height: 250px;background-color: black;}
.part21{width:1000px;height:250px;margin: auto;}
.top5
{width: 500px;height: 200px;}
.part22{width:350px;height: 250px;float: left;}
.part23{width:650px;height: 250px;float: right;color: green;}
.img3{width:340px;height: 200px;margin-top: 20px;}
.p2{font-size: 24px;color: green;margin-left: 90px;margin-top: 10px;}
.p3{font-size:20px;color: green;margin-top: -20px;}
.part3{width:100%;height: 300px;background-color: maroon;}
.part31{width:1000px;height: 300px;margin: auto;}
.p4{font-size: 40px;font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";margin-top: -10px;color: green;text-decoration-line: underline;}
.p5{font-size:20px;color: green;text-underline-position: below;margin-top: -20px;text-decoration-line: underline;}
.btn1{width:150px;height: 40px;background-color: transparent;color: green;cursor: pointer;}

.part4{width:100%;height: 300px;background-color: green;}
.part41{width:1000px;height: 300px;margin: auto;}
.p6{font-size: 40px;font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";margin-top: -10px;color: white;text-decoration-line: underline;}
.img4{width:100px;height: 100px;}
.p7{color: white;font-size: 20px;}
.btn2{width:150px;height: 40px;background-color: transparent;color: white;cursor: pointer;}

.part5{width:100%;height: 250px;background-color: black;margin-top: -20px;}
.part51{width:1000px;height: 250px;color: white;margin: auto;}
.img5{width:100px;height: 70px;margin-left: 340px;margin-top: 30px;}
.img6{width:100px;height: 70px;margin-left: 10px;margin-top: 30px;}
.img7{width:100px;height: 70px;margin-left: 0px;margin-top: 30px;}
.p8{font-size: 18px;font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";}
.part52{width: 440px;height: 120px;float: left;cursor: pointer;}
.part53{width: 120px;height: 120px;float: left;cursor: pointer;}
.part54{width: 440px;height: 120px;float: right;cursor: pointer;}

.part6{width: 100%;height: 120px;background-color: black;}
.part61{width: 1000px;height: 120px;margin: auto;}

/*history*/

.top10{width: 100%;height:300px;background-color: black;}
.top11{width: 1000px;height: 300px;;margin: auto;}
.top12{width: 200px;height: 300px;float: left;}
.top13{width: 800px;height: 230px;float: right;color: white;}
.top14{width: 800px;height: 70px;float: right;}
.btn3{width: 95px;height: 40px;color: green;border: none;background-color: black;cursor: pointer}
.p13{font-size: 24px;color: green;}
.hi{width: 100%;height: auto;background-color: black;}
.hiii{width: 1000px;height: auto;margin: auto;}
.btn4{width: 120px;height: 40px;background-color: green;color: white;cursor: pointer;}

.part8{width:100%;height: 250px;background-color: black;margin-top: -30px;}
.part81{width:1000px;height: 250px;color: white;margin: auto;}

.part7{width: 100%;height: 120px;background-color: black;margin-top: -30px;}
.part71{width: 1000px;height: 120px;margin: auto;}























